<div id="SystemMessagesWrapper">
	<div id="SystemMessages">
		{{ message|raw }}
	</div>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="ModalWin" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<!-- ion Modal -->
<div class="ion-modal" template>
    <div class="ion-modal-wrap">
        <div class="ion-modal-header">
            <div class="ion-modal-title"></div>
            <div class="ion-modal-close">X</div>
        </div>
        <div class="ion-modal-body"></div>
    </div>
</div>
