<div id="SystemMessagesWrapper">
	<div id="SystemMessages">
		{{ message|raw }}
	</div>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="ModalWin" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<!-- ion Modal -->
<div id="Ion-modal" class="ionmodal-wrap">
    <div class="ionmodal-bg"></div>
    <div class="ionmodal-content">
        <-- modal content -->
    </div>
</div>

<!-- Close <div class="modal-close" title="Close">✖</div> -->

