/* Bootstrap modal */
#ModalWin .modal-dialog {
    width: 1000px;
}
#ModalWin .modal-content {
    border-radius: 0;
}
#ModalWin .modalTitle {
    padding: 10px 20px;
    background: #ff7d34;
    color: #fff;
}
#ModalWin .close {
    display: block;
    font-size: 21px;
    color: #a26767;
    background: rgba(255, 255, 255, 0.33);
    width: 50px;
    height: 42px;
    opacity: 1;
    text-shadow: none;
    margin-top: -10px;
    margin-right: -20px;
    transition: .1s;
}
#ModalWin .close:hover {
    background: #da4040;
    color: #fff;
}
#ModalWin .modalWrapper {
    padding: 20px;
}
@media (max-width: 1000px) {
    #ModalWin .modal-dialog {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* ion default modal */
#Ion-modal.ionmodal-wrap {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow-x: hidden;
    overflow-y: auto;
}
#Ion-modal .ionmodal-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.7;
    z-index: 9998;
}
#Ion-modal .ionmodal-content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1%;
    align-items: center;
    z-index: 9999;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100%;
}
#Ion-modal .ionmodal-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: #333;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}
#Ion-modal .ionmodal-close:hover, #Ion-modal .ionmodal-close:focus {
    opacity: 1;
}
#Ion-modal .ionmodal-close:active {
    top: 1px;
}

#SystemMessagesWrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 10%;
    z-index: 10000;
}
#SystemMessages {
    max-width: 600px;
    margin: 0 auto;
}
#SystemMessages>div {
    display: none;
    border-radius: 5px;
    padding: 11px 18px;
}
#SystemMessages .error {
    background: rgba(255, 0, 0, 0.85);
    border: 2px solid #000;
    border-color: #a51a1a;
    color: #fff;
}
#SystemMessages .message {
    background: rgba(0, 213, 26, 0.85);
    border: 2px solid #000;
    border-color: #18be2d;
    color: #fff;
}
#SystemMessages .hiddenMessage {
    display: none;
}
#SystemMessages .messageBig {
    font-size: 25px;
    text-align: center;
    padding: 74px 20px;
    background: rgba(87, 174, 234, 0.94);
    color: #fff;
    border: 2px solid #000;
    border-color: rgb(60, 147, 206);
    margin-bottom: 20%;
}
erroralert {
    color: #fff;
    background: #f00;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    text-align: center;
}
errorclose {
    display: block;
    border-bottom: 1px solid #fff;
    padding-bottom: 6px;
    margin-bottom: 3px;
}
ion {display: none;}
